<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<label for="md"></label>
<textarea id="md" name="content" data-provide="markdown" rows="10" placeholder="这里输入内容，支持Markdown语法。"></textarea>


<link href="../dist/stylesheets/user/thinker-md.user.min.css" rel="stylesheet" type="text/css" charset="utf-8"
      property="">
<link href="../dist/stylesheets/vendor/thinker-md.min.css" rel="stylesheet" type="text/css" charset="utf-8"
      property="">
<!--jQuery-->
<script src="../public/javascripts/vendor/jquery/jquery-2.1.3.js" type="text/javascript" charset="utf-8"></script>
<!--highlight-->
<script src="../public/javascripts/vendor/highlight/highlight.js" type="text/javascript" charset="utf-8"></script>
<!--bootstrap-->
<script src="../public/javascripts/vendor/bootstrap/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<!--markdown-->
<script src="../public/javascripts/vendor/markdown/he.js" type="text/javascript" charset="utf-8"></script>
<script src="../public/javascripts/vendor/markdown/marked.js" type="text/javascript" charset="utf-8"></script>
<script src="../public/javascripts/vendor/markdown/to-markdown.js" type="text/javascript" charset="utf-8"></script>
<script src="../public/javascripts/vendor/markdown/jsHtmlToText.js" type="text/javascript" charset="utf-8"></script>
<script src="../public/javascripts/vendor/markdown/tab.js" type="text/javascript" charset="utf-8"></script>
<script src="../public/javascripts/vendor/markdown/config.js" type="text/javascript" charset="utf-8"></script>
<script src="../public/javascripts/vendor/markdown/bootstrap-markdown.js" type="text/javascript"
        charset="utf-8"></script>
<!--markdown language-->
<script src="../public/javascripts/vendor/markdown/locale/bootstrap-markdown.zh.js" type="text/javascript"
        charset="utf-8"></script>
<!--user-->
<script src="../public/javascripts/user/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>