<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <title>Thinker-md</title>
</head>
<body>

<label for="md"></label>
<textarea id="md" name="content" data-provide="markdown" rows="10" placeholder="这里输入内容，支持Markdown语法。"></textarea>

<link href="../dist/stylesheets/user/thinker-md.user.min.css" rel="stylesheet" type="text/css" charset="utf-8"
      property="">
<link href="../dist/stylesheets/vendor/thinker-md.min.css" rel="stylesheet" type="text/css" charset="utf-8"
      property="">
<script src="../dist/javascripts/vendor/jquery-2.1.3.js" type="text/javascript" charset="utf-8"></script>
<script src="../dist/javascripts/vendor/thinker-md.js" type="text/javascript" charset="utf-8"></script>
<script src="../dist/javascripts/user/thinker-md-user.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>